@charset "UTF-8";
body, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 1920px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
}
body .header {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 10;
}
body .p1s1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #047651;
  width: 100%;
  height: 821px;
}
body .p1s1 .s1img {
  position: absolute;
}
body .p1s1 .mark {
  width: 22%;
  left: 1%;
  top: 5%;
}
body .p1s1 .donut {
  top: 80%;
  left: 0%;
  width: 20%;
}
body .p1s1 .baner {
  z-index: 5;
  width: 1280px;
}
@media (max-width: 1280px) {
  body .p1s1 .baner {
    width: 800px;
  }
}
@media (max-width: 768px) {
  body .p1s1 .baner {
    display: none;
  }
}
body .p1s1 .baner img {
  width: 100%;
}
body .p1s1 .mo-baner {
  display: none;
}
@media (max-width: 768px) {
  body .p1s1 .mo-baner {
    display: flex;
  }
}
body .p1s2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  width: 100%;
  height: 1000px;
}
body .p1s2 span:nth-child(1) {
  color: #047651;
  font-size: 48px;
  font-weight: 400;
}
body .p1s2 span:nth-child(2) {
  font-weight: 400;
}
body .p1s2 .s2-br {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 2%;
  padding-top: 50px;
  padding-bottom: 200px;
}
body .p1s2 .s2-br a {
  width: 15%;
  position: relative;
  display: flex;
  justify-content: center;
}
body .p1s2 .s2-br a div {
  position: absolute;
  top: calc(100% - 28px);
  background-color: #047651;
  border-radius: 30px;
  padding: 15px;
  font-size: 24px;
  color: #fff;
  z-index: 10;
}
body .p1s2 .s2-br a img {
  width: 100%;
}
body .p1s2 .s2-br a .h-img {
  display: none;
}
body .p1s2 .s2-br a:hover .h-img {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
body .p1s2 .s2-br-mo {
  padding-top: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 280px;
  position: relative;
  overflow-y: auto;
  z-index: 5;
}
body .p1s2 .s2-br-mo .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 50;
}
body .p1s2 .s2-br-mo .swiper-wrapper .swiper-slide {
  width: 230px;
  height: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .p1s2 .s2-br-mo .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: calc(100% - 16px);
}
body .p1s2 .s2-br-mo .swiper-wrapper .swiper-slide div {
  position: absolute;
  background-color: #047651;
  color: #fff;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 20px;
  bottom: 0;
}
body .p1s2 .swp1 {
  top: 82%;
  width: 100%;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
}
body .p1s2 .swiper-pagination-bullet {
  margin: 0 15px;
  width: 7px !important; /* 도트 크기 */
  height: 7px !important; /* 도트 높이 */
  background-color: #ffbb00 !important; /* 기본 도트 색상 */
  border-radius: 50% !important; /* 원형으로 만들기 */
  opacity: 1 !important;
  z-index: 99;
}
body .p1s2 .swiper-pagination-bullet-active {
  background-color: white !important;
  background-image: url("/src/img/swiperdot.png");
  width: 30px !important;
  height: 30px !important;
  z-index: 100;
}
@media (max-width: 768px) {
  body .p1s2 {
    height: 500px;
  }
  body .p1s2 span:nth-child(1) {
    font-size: 24px;
  }
  body .p1s2 span:nth-child(2) {
    font-size: 8px;
  }
  body .p1s2 .s2-br {
    display: none;
  }
  body .p1s2 .s2-br-mo {
    display: flex;
  }
  body .p1s2 .swiper-pagination {
    display: flex;
  }
}
body .p1s3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body .p1s3 .s3-bar {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 55%;
}
body .p1s3 .s3-bar .border {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 5px;
  background-color: #047651;
}
body .p1s3 .s3-bar .bar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 5px solid #047651;
  width: 435px;
  height: 85px;
  border-radius: 50px;
  position: relative;
  background-color: #fff;
}
body .p1s3 .s3-bar .bar .bar-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 27px;
  color: #fff;
  background-color: #047651;
  border-radius: 30px;
  position: absolute;
  top: calc(100% - 13px);
}
body .p1s3 .s3-bar .bar span {
  font-size: 36px;
  color: #ce0e2d;
}
body .p1s3 .s3-main {
  padding-top: 100px;
  width: 68%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
body .p1s3 .s3-main .menu {
  margin-top: -50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #047651;
  font-size: 30px;
}
body .p1s3 .s3-main .menu div {
  padding: 5px;
  padding-right: 10px;
}
body .p1s3 .s3-main .menu div:hover {
  color: #fff;
  background-color: #047651;
  border-top-right-radius: 20px; /* 오른쪽 상단 모서리 */
  border-bottom-right-radius: 20px;
}
body .p1s3 .s3-main .s3-do {
  width: 32%;
  height: auto;
  max-height: 400px;
  max-height: 400px;
}
body .p1s3 .s3-main .s3img2 {
  display: none;
}
body .p1s3 .s3-main .s3-grid {
  position: relative;
  padding-left: 40px;
  width: 100%;
  height: 380px;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
body .p1s3 .s3-main .s3-grid a {
  position: relative;
}
body .p1s3 .s3-main .s3-grid a img {
  width: 100%;
  height: 100%;
}
body .p1s3 .s3-main .s3-grid a .h-s3 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
body .p1s3 .s3-main .s3-grid a:hover .h-s3 {
  display: flex;
}
body .p1s3 .s3-main .s3-grid .abso {
  position: absolute;
  top: -25%;
  left: calc(50% - 125px);
}
body .p1s3 .s3-main .s3-mo-sw {
  display: none;
  padding: 50px;
  width: 100%;
  height: 100px;
}
body .p1s3 .s3-main .s3-mo-sw .swiper-wrapper {
  width: 100%;
  height: 100%;
}
body .p1s3 .s3-main .s3-mo-sw .swiper-wrapper .swiper-slide {
  width: 100px;
  height: 100px;
}
body .p1s3 .s3-main .s3-mo-sw .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
body .p1s3 .s3-main .s3-bg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 70%;
  left: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  body .p1s3 .bar {
    width: 223px !important;
    height: 36px !important;
  }
  body .p1s3 .bar .bar-in {
    width: 70px !important;
    height: 14px !important;
    font-size: 11px;
    top: calc(100% - 6px) !important;
  }
  body .p1s3 .bar span {
    font-size: 20px !important;
  }
  body .p1s3 .s3-main {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  body .p1s3 .s3-main .menu {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    font-size: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  body .p1s3 .s3-main .menu div {
    display: flex;
    justify-content: center;
  }
  body .p1s3 .s3-main .s3img1 {
    display: none !important;
  }
  body .p1s3 .s3-main .s3img2 {
    display: flex !important;
  }
  body .p1s3 .s3-main .s3-grid {
    display: none;
  }
  body .p1s3 .s3-main .s3-mo-sw {
    display: flex;
  }
  body .p1s3 .s3-main .s3-bg {
    top: 80%;
  }
}
body .p1s4 {
  padding-top: 300px;
  width: 100%;
  height: 586px;
  display: flex;
  justify-content: center;
  position: relative;
}
body .p1s4 .s4-bg {
  position: absolute;
  top: calc(0% + 300px);
  left: 0;
  width: 100%;
  height: 65%;
  z-index: -1;
}
body .p1s4 .imgs {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .p1s4 .donuts {
  position: absolute;
  top: 97%;
  z-index: -2;
  width: 100%;
}
body .p1s5 {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}
body .p1s5 span:nth-child(1) {
  font-size: 48px;
  color: #ce0e2d;
}
body .p1s5 span:nth-child(2) {
  color: #828282;
}
body .p1s5 .s5swiper {
  width: 100%;
  height: 416px;
  display: inline;
  position: relative;
}
body .p1s5 .s5swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex !important;
}
body .p1s5 .s5swiper .swiper-wrapper .swiper-slide {
  position: relative;
  display: inline-block;
  width: 749px !important;
  height: 416px !important;
}
body .p1s5 .s5swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
body .p1s5 .s5swiper .swiper-wrapper .swiper-slide .h-s5 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.3137254902);
}
body .p1s5 .s5swiper .swiper-wrapper .swiper-slide .h-s5 span:nth-child(1) {
  font-size: 2rem;
  color: #fff;
}
body .p1s5 .s5swiper .swiper-wrapper .swiper-slide .h-s5 span:nth-child(2) {
  font-size: 24px;
  color: #fff;
}
body .p1s5 .s5swiper .swiper-wrapper .swiper-slide:hover .h-s5 {
  display: flex;
}
body .p1s5 .s5swiper .left-op {
  position: absolute;
  z-index: 50;
  width: 23%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
body .p1s5 .s5swiper .right-op {
  position: absolute;
  z-index: 50;
  width: 23%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}
body .p1s5 .swiper-pagination {
  position: absolute;
  top: calc(100% + 30px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /* 기본 도트 스타일 */
}
body .p1s5 .swiper-pagination .swiper-pagination-bullet {
  margin: 0 15px;
  width: 9px !important; /* 도트 크기 */
  height: 9px !important; /* 도트 높이 */
  background-color: #ffbb00 !important; /* 기본 도트 색상 */
  border-radius: 50% !important; /* 원형으로 만들기 */
  opacity: 1 !important;
}
body .p1s5 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white !important;
  background-image: url("/src/img/swiperdot.png");
  width: 30px !important;
  height: 30px !important;
  z-index: 100;
}
body .p1s6 {
  padding-top: 300px;
  padding-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .p1s6 span:nth-child(1) {
  font-size: 48px;
  color: #047651;
}
body .p1s6 span:nth-child(2) {
  color: #828282;
}
body .p1s6 .s6-in {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}
body .p1s6 .s6-in img:nth-child(1), body .p1s6 .s6-in img:nth-child(3) {
  width: 15.6%;
}
body .p1s6 .s6-in img:nth-child(2) {
  width: 32.5;
}

/*# sourceMappingURL=index.css.map */
