
@use 'common' as*;

body{
  width: 100%;
  .s1 {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-content: center;    
    padding: 100px 18%;
    box-sizing: border-box;
    .s1text{
      font-size: $s48;
      color: $grin;    
      padding-bottom: 50px;
      width: 100%;
      text-align: center;  
    }
    .s1-button-area{
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;      
      .s1bt{
        position: relative;
        padding: 0px 12px;
        text-wrap: nowrap;
        // box-sizing: border-box;
        border-radius: 40px 40px 0 0;
        height: 75px;
        color: $black;
        font-size: $s30;
        background: none;
        border: none;
      }
      .s1bt.active{
        color: $red;
        background-color: $white;
        z-index: 10;
        border-top: 5px solid $grin;
        border-left: 5px solid $grin;
        border-right: 5px solid $grin;   
      }
      &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      content: "";
      background-color: $grin;
      }
    }
    
    .product {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}