
@use 'common' as*;

body{
  width: 100%;
  position: relative;
  .s1 {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-content: center;    
    padding: 100px 18%;
    box-sizing: border-box;
    .s1text{
      font-size: $s48;
      color: $grin;    
      padding-bottom: 50px;
      width: 100%;
      text-align: center;  
    }
    .s1-button-area{
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 100%;      
      .s1bt{
        position: relative;
        padding: 0px 50px;
        text-wrap: nowrap;
        // box-sizing: border-box;
        // border-radius: 30px 30px 0 0;
        height: 75px;
        color: $black;
        font-size: $s30;
        background: none;
        border: none;
      }
      .s1bt.active{
        color: $red;
        background-color: $white;
        z-index: 10;
        background-repeat: no-repeat;
        background-size:  100% 100%;
        background-position: center;
        // border-top: 5px solid $grin;
        // border-left: 5px solid $grin;
        // border-right: 5px solid $grin;   
      }
      .best.active{
        background-image: url(/src/img/sub_ka_img/best.png);
        padding-left: 30px;
        padding-right: 70px;
      }
      .do.active{
        background-image: url(/src/img/sub_ka_img/do.png);
      }
      .dothe.active{
        background-image: url(/src/img/sub_ka_img/dothe.png);
      }
      .coffee.active{
        background-image: url(/src/img/sub_ka_img/coffee.png);
      }
      .non-coffee.active{
        background-image: url(/src/img/sub_ka_img/noncoffee.png);
        padding-left: 70px;
        padding-right: 30px;
      }
      &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      content: "";
      background-color: $grin;
      }
      @media (max-width : 1200px) {
        .s1bt{
          padding: 0px 8px;
          font-size: 20px !important;
        }
      }
      @media (max-width : 768px) {
        .s1bt{
          height: 50px;
          padding: 0px 8px;          
          font-size: $s13 !important;
        }
      }
    }
    
    .product {
      padding-top: 100px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3 , 1fr);
      grid-template-rows: repeat(5 , 1fr);
      gap: 30px;
      .product-item {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $black;
        font-size: $s24;
        img {
          width: 100%;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
        .best-icon , .new-icon{
          position: absolute;
          top: 0;
          left: 0;
          width: 78px;
          height: 78px;          
          background-color: $red;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          font-size: $s24;
          @media (max-width : 1200px) {
            width: 50px;
            height: 50px; 
            font-size: $s15;
          }
          @media (max-width : 768px) {
            width: 30px;
            height: 30px; 
            font-size: $s10;
          }
        }
        .new-icon {
          background-color: $yellow !important;
        }
        
      } 
      @media (max-width : 1200px ) {
        .product-item{
          font-size: 18px !important;
        }
      }  
      @media (max-width : 768px ) {
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(8 , 1fr);
        .product-item{
          font-size: $s13 !important;
        }
      }    
    }
  }
}